* {
  box-sizing: border-box;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
}
nav{
width: 1697;
/*max-width: 1697px;*/
padding: 0 120px;
border: 1px solid red;
display: flex;
justify-content: space-between;
}
nav .menu{
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    padding: 16px;
}
nav .menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
nav .btn{
    color: white ;
    background-color: #30b868;
    border: none;
    border-radius: 2.5px;
    margin: 16px 12.5px;
    cursor: pointer;
     padding: 12px 24px;
}
.banner{
padding: 70px 120px 134px;
/*border: 1px solid red;*/
background: url(../assets/hero-bg.png);
}
.content{
  display: flex;
  flex-direction: column;
margin: 0 auto;
text-align: center;
align-items: center;
justify-content: flex-start;
/*padding: 120px;*/
/*border: 1px solid orange;*/
gap: 16px;

}
.content .btn-content{
  color:var(#30b868, rgba(70,145,101,1));
  

  }

