* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-open-sans- {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
  
}
nav{
width: 94%;
max-width: 1600px;
padding: 0 120px;
border: 1px solid red;
display: flex;
justify-content: space-between;
}
nav .menu{
    display: flex;
    gap: 24px;
    align-items: center;
    list-style: none;
    padding: 16px;
}
nav .menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
nav .btn{
    color: white ;
    background-color: #30b868;
    border: none;
    border-radius: 2.5px;
    margin: 16px 12.5px;
    cursor: pointer;
     padding: 12px 24px;
}
.container{
 width: 94%;
max-width: 1600px;
}
.container .container-content{
  align-items: center;
}

